<div class="main">
<h1>ユーザー登録画面</h1>
    <%= form_tag("/create") do%>
    <div class="form-content">
      <p>名前</p>
      <input name="name">
      <p>アドレス</p>
      <input name="email">
      <input type="submit" value="新規登録">
    </div>
    <% end %>
</div>