// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
    margin:0;
    padding:0;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #f9f9ff;

}
body{
    
}

.main{
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
}


/******************************
ヘッダーメニューに関する記述
*******************************/

ul {
  list-style-type: none;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: navy;
}



/******************************
inputやpタグなどに関する記述
*******************************/

h1, h2, h3, h4, h5{
    margin:20px;
}

p , input {
    margin-left:20px;
}
